body {
    margin:0;
    padding:0;
    font-family: Sans-Serif;
    line-height: 1.5em;
    padding-top: 5em;
}




#header {
    font-family: Titillium web;
    background: #fff none repeat scroll 0 0;
    height: 164px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

#header h1 {
    width:100%;
	text-align:center;
	margin-top: 128px ;	
}

main, #title {
	box-sizing: border-box;
    float: left;
    width: 100%;
    font-family: Titillium web;
	padding-left: 256px;
}


#nav {
    font-family: Titillium web;
    background: #eee none repeat scroll 0 0;
    float: left;
    height: 100%;
    left: 0;
    position: fixed;
    top: 128px;
    width: 256px;
}


#footer {
    font-family: Titillium web;
    background: #ccc none repeat scroll 0 0;
    bottom: 0;
    clear: left;
    left: 0;
    padding: 4px 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

#wrapper {
    overflow: hidden;
}

#content {
    margin-top: 128px;/* same as header height */
    padding-bottom: 100px; /* same as footer height */
    scroll-behavior: auto; /* just in case */
    max-width: 100%; /*not sure about it.. but very useful*/
	width:1000px;
	margin-left: auto;
    margin-right: auto;
}

.innertube {
    margin: 15px; /* Padding for content */
    margin-top: 0;
}

p {
    color: #555;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul a {
    color: darkgreen;
    text-decoration: none;
}
/* xtrainfo is for external information,.. mainly links to another pages, could be videos, articles, wiki.. etc*/
.xtrainfo {
    background-color: #e3e3e3;
    border: 1px solid #c7c7c7;
    border-radius: 3px;
    margin-top: 1em;
    padding: 0.5em 2em 0.5em;
    text-align: left;
}
/*---------------------------------------------------------TABLES*/
.table1 {
    background-color: #a0a0a0;
    display: table-cell;
    text-align: right;
    padding: 1em;
    color: #333333;
    
}
.table1 th, tr, td {
    padding: 1em;
    background-color: #a7a7a7;
}

.table1-wrap {

}
/*this table trick is bullshit, i know,.. but is a fast way to center the table, it pushes the table from the left XX only valid for the automation table */
.table1-trick {
    margin-left: 15.5%;
}
/*_________________________________________________________________*/


/* cont is for content*/
/* center, left, right obviously are position*/
/* that is the most generic style*/
.cont-center {
    text-align: center;
}	
.cont-left {
    float:left;
    margin-right: 16px;
}

.cont-right {
    float:right;
    margin-left: 16px;
}

/* cont special is meant to be a wrap for a remarcable text*/
.cont-special {
    background-color: #eeeeee;
    padding: 1em 1em 1.5em 3em;
}
.cont-special p {
padding-right: 16em;
}
.cont-special img {
margin-top: 1em;

}


/* cont-center-solid means that is a non fluid content, I create the class just to be consistent.. and also just in case could be needed*/
.cont-center-solid {
    text-align: center;

}
/* this is a combo card img+txt */

.cont-combo-center {
    margin-left: 14%;
    width: 73%;
}
/* this is meant for something like a table mainly for lists of item= description, made for chests basically*/
.item-combo {
    background-color: #f5f5f5;
    border: 1px solid #ececec;
    border-radius: 4px;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
}

.item-img {
    float: left;
    margin-top: 56px;
    text-align: center;
    width: 128px;
}
.item-text {
    margin-left: 128px;
    padding: 0.5em 2em 0.5em 0.5em;
}
/*icon-img is the same as item-img- but optimized for icons(x 32px)*/
.icon-img {
    float: left;
    margin-top: 24px;
    text-align: center;
    width: 128px;
}
.icon-text {
}		
/*CAPTION COMBO image + caption in an individual wrap*/

.caption-combo {
    text-align: center;
}
.caption-combo-left {
    text-align: left;
}
/* Here is decided that a column is 455px*/
/*ATTENTION caption font-size is defined in .caption-text*/
.caption-text-two-col{
    width:455px;
    font-size: 0.95em;
}
.col-wrapper {
    display: flex;
}
.caption-combo-right {
    margin-left: 1em;
    
}

.caption-img {
    margin-bottom: -16px;
}

.caption-text {
    font-size: 0.95em;
    
}

.caption-wrap {
    background-color: #f5f5f5;
    border-radius: 4px;
    display: inline-block;
    padding: 8px;
}
/* This is super crap, for centering 2 columns in additional information, setups and build. Don't do it at home please*/
.center1-trick {
    margin-left: 11%;			
}
.center2-trick {
    margin-left: 7%;			
}
