html {
    background-color: #4e4e4e;
}


body {
    margin:0;
    padding:0;
    font-family: Titillium web, Sans-Serif;
    line-height: 1.5em;
    padding-top: 5em;
}

#header {
    background: #4e4e4e none repeat scroll 0 0;
    height: 178px;
    box-shadow: 85px 46px 48px #4e4e4e;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

#header h1 {
    width:100%;
    text-align:center;
    margin-top: 128px;

}

h1, h2 {
    color: #ff9f22;
    font-size: 1.8em;
}

h3, h2#toc {
    color: #252525;
    font-size: 1.2em;
    margin-bottom: 1em;
}

main, #title, #logo {
    box-sizing: border-box;
    float: left;
    width: 100%;
    padding-left: 280px;
    padding-top: 1em;
}

#nav {
    background: #4e4e4e none repeat scroll 0 0;
    position: fixed;
    left: 0;
    top: 128px;
    bottom: 0;
    width: 256px;
    padding-left: 24px;
    overflow: auto;
}

#footer {
    background: #4e4e4e none repeat scroll 0 0;
    bottom: 0;
    clear: left;
    left: 0;
    padding: 4px 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

#wrapper {
    overflow: hidden;
}

#content {
    margin-top: 152px;/* same as header height */
    padding-bottom: 100px; /* same as footer height */
    scroll-behavior: auto; /* just in case */
    max-width: 95%;
    width:1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:32px;
}

.innertube {
    margin: 15px; /* Padding for content */
    margin-top: 0;
}

p {
    color: #f0f0f0;
}

a {
    color: #deaa71;
    text-decoration: none;
    padding-left: 0.1em;
    padding-right: 0.1em;

}

a:hover {
    background-color: #deaa71;
    color: #4e4e4e;
}

ul {
    color: #f0f0f0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul a {
    color: #ff9f22;
    text-decoration: none;
}
nav ul a:hover {
    background-color: #ff9f1c;
    color: #4e4e4e;
}
nav ul a:active {
    background-color: #ff9f1c;
    color: #4e4e4e;
}



/* xtrainfo is for external information,.. mainly links to another pages, could be videos, articles, wiki.. etc*/
.xtrainfo {
    background-color: #575a5a;
    border-color: #666666 #111111 #111111 #666666;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    margin-top: 1em;
    padding: 0.5em 2em 0.5em;
    text-align: left;
    color:#dddddd;
}

.darkinfo {
    background-color: #37363b;
    border-color: #666666 #111111 #111111 #666666;
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
    padding-top: 2em;
    padding: 0.5em 2em 0.5em;
    text-align: left;
    color:#111111;
}

/*---------------------------------------------------------TABLES*/
.table1 {
    background-color: #a0a0a0;
    display: table-cell;
    text-align: right;
    padding: 1em;
    color: #a0a0a0;

}
.table1 th, tr, td {
    padding: 1em;
    background-color: #4c4c4c;
}

.table1-wrap {

}
/*this table trick is bullshit, i know,.. but is a fast way to center the table, it pushes the table from the left XX only valid for the automation table */
.table1-trick {
    margin-left: 15.5%;
}

.table0 {
    padding: 1em;
    background-color: #a7a7a7;
}
/*_________________________________________________________________*/


/* cont is for content*/
/* center, left, right obviously are position*/
/* that is the most generic style*/
.cont-center {
    text-align: center;
}
.cont-left {
    float:left;
    margin-right: 16px;
}

.cont-right {
    float:right;
    margin-left: 16px;
}

/* cont special is meant to be a wrap for a remarcable text*/
.cont-special {
    background-color: #616061;
    border-radius: 4px;
    padding: 1em 1em 1.5em 2em;
}
.cont-special p {
    color: #d7d7d7;
    padding-right: 16em;
}
.cont-special img {
    margin-top: 1em;

}

/* cont-center-solid means that is a non fluid content, I create the class just to be consistent.. and also just in case could be needed*/
.cont-center-solid {
    text-align: center;

}
/* this is a combo card img+txt */

.cont-combo-center {
    margin-left: 14%;
    width: 73%;
}
/* this is meant for something like a table mainly for lists of item= description, made for chests basically*/
.item-combo {
    background-color: #484848;
    border-color: #666666 #111111 #111111 #666666;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}

.item-img {
    float: left;
    margin-top: 56px;
    text-align: center;
    width: 128px;
}

.item-img-short {
    float: left;
    margin-top: 56px;
    text-align: center;
    width: 128px;
}
.item-text {
    margin-left: 128px;
    padding: 0.5em 2em 0.5em 0.5em;
}

.item-text-short {
    margin-left: 56px;
    padding: 0.25em 0.8em 0.25em 0.25em;
}

/*icon-img is the same as item-img- but optimized for icons(x 32px)*/
.icon-img {
    float: left;
    margin-top: 24px;
    text-align: center;
    width: 128px;
}

.icon-img-short {
    float: left;
    margin-top: 12px;
    text-align: center;
    width: 56px;
    padding-top: 0.5em;
}

.icon-text {
}
/*CAPTION COMBO image + caption in an individual wrap*/

.caption-combo {
    text-align: center;
}
.caption-combo-left {
    text-align: left;
}
/* Here is decided that a column is 455px*/
/*ATTENTION caption font-size is defined in .caption-text*/
.caption-text-two-col{
    width:455px;
    font-size: 0.95em;
}
.col-wrapper {
    display: flex;
}
.col-wrapper-left {
    float:left;
    margin-right: 16px;
}
.col-wrapper-right {
    float:right;
    margin-right: 16px;
}
.caption-combo-right {
    margin-left: 1em;

}

.caption-img {
    margin-bottom: -16px;
}

.caption-text {
    font-size: 0.95em;

}

.caption-wrap {
    background-color: #4a4a4a;
    border-radius: 4px;
    display: inline-block;
    padding: 8px;

}
.caption-wrap-pop {
    background-color: #4a4a4a;
    border-color: #666666 #111111 #111111 #666666;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    display: inline-block;
    padding: 4px;

}

.image-wrap {
    background-color: #38373c;
    border-color: #666666 #111111 #111111 #666666;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    display: inline-flex;
    padding: 4px;
      

}
.caption-wrap-pop-400 {
    background-color: #4a4a4a;
    border-color: #666666 #111111 #111111 #666666;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    display: inline-block;
    padding: 4px;
    height: 400px;

}

.caption-wrap-left {
    background-color: #4a4a4a;
    border-radius: 4px;
    display: inline-block;
    padding: 8px;
    width: 317px;
}  
.caption-wrap-left-pop {
    background-color: #4a4a4a;
    border-color: #666666 #111111 #111111 #666666;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    display: inline-block;
    padding: 8px;
    width: 317px;
}  
.caption-wrap-right {
    background-color: #4a4a4a;
    border-radius: 4px;
    display: inline-block;
    padding: 8px;
    width: 317px;
}  
.caption-wrap-right-pop {
    background-color: #4a4a4a;
    border-color: #666666 #111111 #111111 #666666;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    display: inline-block;
    padding: 8px;
    width: 317px;
} 
.caption-wrap-centre {
    background-color: #4a4a4a;
    border-radius: 4px;
    display: inline-block;
    padding: 8px;
    width: 301px;
}  
.caption-wrap-centre-pop {
    background-color: #4a4a4a;
    border-color: #666666 #111111 #111111 #666666;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    display: inline-block;
    padding: 8px;
    width: 301px;
} 
  
  
  
/* This is super crap, for centering 2 columns in additional information, setups and build. Don't do it at home please*/
.center1-trick {
    margin-left: 11%;
}
.center2-trick {
    margin-left: 7%;
}


#band {
    position: absolute;
}


#logo {
    position: absolute;
    left: 0;
    top: 0.5em;
}

#logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.1em;
}


#logo-text {
    color: #ffcc3f;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    padding-top: 0.1em;
    text-shadow: 0 -2px 0 rgb(36, 44, 48);
    text-shadow:0 -2px 0 rgb(36, 44, 48), 1px 0px 1px rgb(88, 36, 0);
}
