<!DOCTYPE html>
<!-- Template by html.am -->
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/guide-styles.css">
        <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,400italic,600,600italic,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="theme-color" content="#ffffff">

        <title>{{ page.title | strip_html }}</title>
    </head>

    <body>
        <div id="logo">
            <img src="img/gfx/factorio-logo.png" width="454" height="69">
            <div id="logo-text"><strong>Players strategy guide</strong></div>
        </div>
        
        <main>
            <div id="content"> 
            <div id="logo-text">{{ page.title }}</div></br>
                    {{ content }}
            </div>
        </main>

        <nav id="nav">
            <h2 id="toc">Table of Contents</h2>
            <ul>
                <li {% if page.title == "Introduction" %}class="active"{% endif %}><a href="index.html">Introduction</a></li>
                <li {% if page.title == "How to use this guide" %}class="active"{% endif %}>
                    <a href="01-how-to-use-this-guide.html">01) How to use this guide</a>
                </li>
                <li {% if page.title == "Game options and map settings" %}class="active"{% endif %}>
                    <a href="02-game-options-and-map-settings.html">02) Game options and map settings</a>
                </li>
                <li {% if page.title == "Initial observations" %}class="active"{% endif %}>
                    <a href="03-initial-observations.html">03) Initial observations</a>
                </li>
                <li {% if page.title == "Collecting resources" %}class="active"{% endif %}>
                    <a href="04-collecting-resources.html">04) Collecting resources</a>
                </li>
                <li {% if page.title == "Belt and inserter mechanics" %}class="active"{% endif %}>
                    <a href="05-belt-and-inserter-mechanics.html">05) Belt and inserter mechanics</a>
                </li>
                <li {% if page.title == "Establishing power" %}class="active"{% endif %}>
                    <a href="06-establishing-power.html">06) Establishing power</a>
                </li>
                <li {% if page.title == "Automation" %}class="active"{% endif %}>
                    <a href="07-automation.html">07) Automation</a>
                </li>
                <li {% if page.title == "Science" %}class="active"{% endif %}>
                    <a href="08-science.html">08) Science</a>
                </li>
                <li {% if page.title == "Pollution" %}class="active"{% endif %}>
                    <a href="09-pollution.html">09) Pollution</a>
                </li>
                <li {% if page.title == "Trains" %}class="active"{% endif %}>
                    <a href="10-trains.html">10) Trains</a>
                </li>
                <li {% if page.title == "Liquids & Oil processing" %}class="active"{% endif %}>
                    <a href="11-liquids-and-oil-processing.html">11) Liquids and oil processing</a>
                </li>
                <li {% if page.title == "The logistics system" %}class="active"{% endif %}>
                    <a href="12-the-logistics-system.html">12) The logistics system</a>
                </li>
                <li {% if page.title == "Modules" %}class="active"{% endif %}>
                    <a href="13-modules.html">13) Modules</a>
                </li>
                <li {% if page.title == "Circuit network" %}class="active"{% endif %}>
                    <a href="14-circuit-network.html">14) Circuit network</a>
                </li>
                <li {% if page.title == "Enemies and combat" %}class="active"{% endif %}>
                    <a href="15-enemies-and-combat.html">15) Enemies and combat</a>
                </li>
                <li {% if page.title == "Additional information, setups, and builds" %}class="active"{% endif %}>
                    <a href="16-additional-information-setups-and-builds.html">16) Additional information, setups, and builds</a></li>
                <li {% if page.title == "Mods" %}class="active"{% endif %}>
                    <a href="17-mods.html">17) Mods</a>
                </li>
                <li {% if page.title == "Item index" %}class="active"{% endif %}>
                    <a href="18-item-index.html">18) Item index</a>
                </li>
                <li {% if page.title == "New Features of 0.13" %}class="active"{% endif %}>
                    <a href="new-features-013.html">19) New Features of 0.13</a>
                </li>
            </ul>
        </nav>

        <footer id="footer">
            
        </footer>
    </body>
</html>
