<!DOCTYPE html>
<!-- Template by html.am -->
<html>
	<head>
         <link rel="stylesheet" type="text/css" href="css/guide-styles.css">
         <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,400italic,600,600italic,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>{{ page.title | strip_html }}</title>
	
	</head>
	
	<body>		

		<header id="header">
			<div class="innertube">
                <h1>{{ page.title }}</h1>
			</div>
		</header>
		
		<div id="wrapper">
		
			<main>
				<div id="content">
					<div class="innertube">
						{{ content }}
					</div>
				</div>
			</main>
			
			<nav id="nav">
				<div class="innertube">
					<h3>Table of Contents</h3>
					<ul>
                        <li>Introduction</li>
						<li>About the game</li>
						<li>How to use this guide</li>
						<li>Game options and map settings</li>
						<li>Initial-observations</li>
						<li>Collecting resources</li>
						<li>Belt and inserter mechanics</li>
						<li>Establishing-power</li>
						<li>Automation</li>
						<li>Science</li>
						<li>Pollution</li>
						<li>Trains</li>
						<li>Liquids and oil processing</li>
						<li>The logistics system</li>
						<li>Modules</li>
                        <li>Circuit network</li>
                        <li>Enemies and combat</li>
                        <li>Additional information setups and builds</li>
                        <li>Mods</li>
                        <li>Item-index</li>
					</ul>
				</div>
			</nav>
		
		</div>
		
		<footer id="footer">
			<div class="innertube">
				<p>Footer...</p>
			</div>
		</footer>
	
	</body>
</html>
