<!DOCTYPE html>
<!-- Template by html.am -->
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/guide-styles.css">
        <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,400italic,600,600italic,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{{ page.title | strip_html }}</title>
    </head>

    <body>
        <div id="logo">
            <img src="img/gfx/factorio-logo.png" width="454" height="69">
            <div id="logo-text"><strong>Players strategy guide</strong></div>
        </div>
        
        <main>
            <div id="content"> 
            <div id="logo-text">{{ page.title }}</div></br>
                    {{ content }}
            </div>
        </main>

        <nav id="nav">
            <h2 id="toc">Table of Contents</h2>
            <ul>
                <li><a href="index.html">Introduction</a></li>
                <li><a href="01-how-to-use-this-guide.html">How to use this guide</a></li>
                <li><a href="02-game-options-and-map-settings.html">Game options and map settings</a></li>
                <li><a href="03-initial-observations.html">Initial-observations</a></li>
                <li><a href="04-collecting-resources.html">Collecting resources</a></li>
                <li><a href="05-belt-and-inserter-mechanics.html">Belt and inserter mechanics</a></li>
                <li><a href="06-establishing-power.html">Establishing-power</a></li>
                <li><a href="07-automation.html">Automation</a></li>
                <li><a href="08-science.html">Science</a></li>
                <li><a href="09-pollution.html">Pollution</a></li>
                <li><a href="10-trains.html">Trains</a></li>
                <li><a href="11-liquids-and-oil-processing.html">Liquids and oil processing</a></li>
                <li><a href="12-the-logistics-system.html">The logistics system</a></li>
                <li><a href="13-modules.html">Modules</a></li>
                <li><a href="14-circuit-network.html">Circuit network</a></li>
                <li><a href="15-enemies-and-combat.html">Enemies and combat</a></li>
                <li><a href="16-additional-information-setups-and-builds.html">Additional information setups and builds</a></li>
                <li><a href="17-mods.html">Mods</a></li>
                <li><a href="18-item-index.html">Item index</a></li>
                <li><a href="new-features-013.html">The new features of version 0.13</a></li>
            </ul>
        </nav>

        <footer id="footer">
            
        </footer>
    </body>
</html>
