<!DOCTYPE html>
<!-- Template by html.am -->
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/guide-styles.css">
        <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,400italic,600,600italic,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{{ page.title | strip_html }}</title>
    </head>

    <body>

        <header id="header">
            <div id="logo">
                <img src="img/gfx/factorio-logo.png" width="454" height="69">
                <div id="logo-text"><strong>New features of 0.13</strong></div>
            </div>
        </header>

        <section>
            <div id="guide-content">
                    {{ content }}
            </div>
        </section>

        

        <footer id="footer">
            
        </footer>
    </body>
</html>
